<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_ACCESS_TOKEN</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyNWZjYjdkOWZkYjZhYzhmOGUyYWU2NzYxZjY0YjRjYyIsInN1YiI6IjY0YzRmMTNlZWVjNWI1MDBjNWYxNTM3YyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.WyoV3YczhU31wM5Lz_9p5WDRHAPASDQiLU0w_8rCMFU</string>
</dict>
</plist>
